@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to GameDb</h1>
   <br />
    <p class="lead">Assignment 3 - Game Database</p>
    <p>This application serves as a database for various games. Here, you can browse, add, edit, and delete games with details such as title, genre, developer, publisher, and price. Explore the Games section to get started!</p>
</div>

