html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    padding-left: 5%;
    letter-spacing: 10px;
}

#navbarNav{
    padding-right: 10%;
    color:azure;
    letter-spacing:2px;
}
